* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.registerbtn {
  cursor: pointer;
}

/* -- General Styles-- */

html {
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  background-image: url("../images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.3;
  margin: 0 0 25px 0;
}

span {
  font-weight: 600;
}

/* --Mobile Styles-- */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  width: 86%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 60px;
}

.heading-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.try-pricing {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background: hsl(248, 32%, 49%);
  padding: 20px 0;
  border-radius: 10px;
  margin-top: 55px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
}

.try-pricing p {
  width: 60%;
}

.registration-form {
  width: 100%;
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 24px 0 30px 0;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
}

.registration-form input {
  width: 85%;
  height: 55px;
  border-radius: 5px;
  border: 0.5px solid #dfdfdf;
}

input::placeholder {
  font-size: 0.9em;
  font-weight: 600;
  padding-left: 1.5em;
}

.registerbtn {
  width: 85%;
  height: 57px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(154, 59%, 51%);
  border-top: none;
  border-left: 0.5px solid #36b87a;
  border-right: 0.5px solid #36b87a;
  border-bottom: 4px solid #36b87a;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  font-size: 0.95em;
  margin-top: 8px; /* even out vertical space between form elements */
}

.terms {
  width: 70%;
  color: hsl(246, 25%, 77%);
  font-size: 0.65em;
  text-align: center;
  line-height: 2;
}

.terms a {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}

/* --Footer-- */
.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 30px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 600px) {
  /*Tablet styles here*/

  html {
    background-image: url("../images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content-wrapper {
    width: 86%;
    max-width: 540px;
    margin-top: 120px;
  }

  h1 {
    font-size: 2.7em;
    line-height: 1.15;
  }

  .try-pricing {
    height: 60px;
    padding: 0;
    margin-top: 45px;
  }

  .try-pricing p {
    width: 85%;
    align-self: center;
  }

  .registration-form {
    height: 475px;
    padding: 35px 0 40px 0;
  }

  .registerbtn {
    margin-top: 11px; /* even out vertical space between form elements */
  }
}

@media only screen and (min-width: 1200px) {
  /*Desktop styles here*/

  main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .content-wrapper {
    width: 80%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-size: 3em;
    margin-top: 20px;
  }

  .heading-wrapper {
    width: 525px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .heading-wrapper p {
    padding-right: 30px;
  }

  .try-pricing {
    margin-top: 0;
  }

  .form-wrapper {
    width: 540px;
  }
}
